<app-buscador-con-filtro (filtrosCambiados)="filtrarRestaurantes($event)"></app-buscador-con-filtro>

@if (loading()) {
  <p>Cargando...</p>
} @else {
  <div class="lista-restaurantes">
    @for (item of restaurantes(); track item.id) {
      <app-restaurante-card
        [id]="item.id"
        [nombreRestaurante]="item.nombre"
        [direccion]="item.direccion"
        [horarioApertura]="item.horarioApertura"
        [horarioCierre]="item.horarioCierre"
        [imagenUrl]="item.imagenUrl"
      >
      </app-restaurante-card>
    } @empty {
      <p>No se encontraron restaurantes con esos filtros.</p>
    }
  </div>
}