<button>
  <img
    [src]="imagenUrl() ? imagenUrl() : 'https://picsum.photos/seed/' + id() + '/400/200'"
    [alt]="nombreRestaurante()"
  />
  <div class="info-container">
    <h3>{{ nombreRestaurante() }}</h3>
    <div class="info-row">
      <mat-icon>access_time</mat-icon>
      <span>{{ horarioApertura() }} - {{ horarioCierre() }}</span>
    </div>
  </div>

  @if (direccion(); as dir) {
  <div class="info-container">
    <p class="direccion">{{ dir.calle }} {{ dir.numero }}, {{ dir.ciudad }}</p>
    <div class="lugares-disponibles">
      <div class="star-container">
        <mat-icon>star</mat-icon>
      </div>
      <span>Ver disponibilidad</span>
    </div>
  </div>
  }
</button>
