.reservas-container {
  padding: 16px;
}

.estado-cargando,
.estado-vacio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  padding-top: 100px; // Centrarlo verticalmente
  color: #888;
}

.estado-vacio h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  margin: 0;
}
