nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: #fff;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.08);
}


a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-decoration: none;
  color: #757575;
}

.active {
  color: #1976d2;
}