.mobile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.location-button {
  background: none;
  border: none;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.location-notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
}