* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.simple-card {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

img {
  border-radius: 16px;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.title {
  font-size: 18px;
  font-weight: 500;
}

.subtitle {
  font-size: 12px;
  font-weight: 300;
}