<div class="buscador-wrapper">
  
  <div class="search-box">
    <mat-icon class="search-icon">search</mat-icon>
    
    <input 
      type="text" 
      placeholder="Buscar restaurante..." 
      [ngModel]="busquedaTexto()"
      (ngModelChange)="busquedaTexto.set($event); onSearchChange()"
    >
    
    @if (busquedaTexto()) {
      <mat-icon 
        class="clear-icon" 
        (click)="busquedaTexto.set(''); onSearchChange()"
      >close</mat-icon>
    }
  </div>

  <div class="tags-carousel">
    
    <div 
      class="tag-card" 
      [class.active]="tagSeleccionada() === ''"
      (click)="seleccionarTag('')"
    >
      <div class="icon-circle default">
        <mat-icon>restaurant</mat-icon>
      </div>
      <span>Todas</span>
    </div>

    @for (tag of etiquetas(); track tag.id) {
      <div 
        class="tag-card" 
        [class.active]="tagSeleccionada() === tag.nombre"
        (click)="seleccionarTag(tag.nombre)"
      >
        <div class="icon-circle">
          <img 
            [src]="tag.imagenUrl" 
            [alt]="tag.nombre" 
            onerror="this.style.display='none'"
          >
        </div>
        <span>{{ tag.nombre }}</span>
      </div>
    }
  </div>
  <div class="filtros-extra">
    <div 
      class="filtro-chip popular" 
      [class.active]="filtroPopularesActivo()"
      (click)="togglePopulares()"
    >
      <mat-icon>trending_up</mat-icon>
      <span>Más Populares (Top 10)</span>
    </div>
  </div>
</div>