<div>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Restaurantes,platos...</mat-label>
        <input matInput placeholder="Buscar...">
        <mat-icon matSuffix>search</mat-icon>
        <mat-icon matSuffix>filter_alt</mat-icon>
    </mat-form-field>

    <mat-chip-set aria-label="Fish selection">
        <mat-chip>Lugares disponibles</mat-chip>
        <mat-chip>Segundo filtro</mat-chip>
        <mat-chip>Tercer filtro</mat-chip>
    </mat-chip-set>


</div>
